<h1>Success! You added a new weather entry!</h1>
<h3>Details:</h3>

<p>Summary: {{Weather.summary}}</p>
<p>Precipitation: {{Weather.precip}}</p>
<p>Temperature: {{Weather.temp}}</p>
<p>Time: {{Weather.time}}</p>

<form action = "http://127.0.0.1:3000/all" method="GET"> 
	<input type="submit" value="Back"> 
</form>